<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="footer-about">
          <h6>About</h6>
          <p class="text-justify">
            Sandhya Academy is a leading Indian IT training institute preparing tech-aspirants for flourishing careers in this challenging and competitive domain since 2020.</p>
        </div>

        <div class="footer-categories">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">SOFTWARE TRAINING</a></li>
            <li><a href="#">PLACEMENT AND JOB</a></li>
            <li><a href="#">SOFTWARE CONSULTING</a></li>
            <li><a href="#">ONLINE COURSES</a></li>
            <li><a href="#">OTHER SERVICES</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>

        <div class="footer-links">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
       <a href="#">Sandhya Academy</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
