<div class="main-contact-container">
    <div class="about-us-banner">
        <div class="about-us-banner-layover">
            <h1>CONTACT US</h1>
        </div>
    </div>
      <h2>Contact us for more details</h2>
      <div class="container">
          <form>
            <label for="fname">First Name</label>
            <input type="text" class="contact-input-el" placeholder="Your name.." name="firstname" [(ngModel)]="firstName">
        
            <label for="lname">Last Name</label>
            <input type="text" class="contact-input-el" placeholder="Your last name.." name="lastname" [(ngModel)]="lastName">
        
            <label for="country">Country</label>
            <select id="country" name="country" name="country" [(ngModel)]="country">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">India</option>
            </select>
        
            <label for="subject">Subject</label>
            <textarea class="contact-input-el" placeholder="Write something.." style="height:200px" name="message" [(ngModel)]="message"></textarea>
        
            <input type="submit" value="Submit" (click)="OnSubmit()">
          </form>
        </div>
  </div>
