<div class="home-page-testimony">
    <div class="section-header">
      <h1>What Our Students Say</h1>
    </div>
    <div class="all-testimony">
      <div class="testimony">
        <div class="testimonial-image">
          <img [src]="'./assets/users/user1.jpg'">
        </div>
        <div>
          <h3>Sanjana M</h3>
          <p>
            Sandhya Academy's IT courses have truly transformed my career trajectory. The online classes are well-structured, and the instructors are incredibly knowledgeable. The one-to-one consultation sessions provided invaluable insights, helping me tackle complex concepts with ease. I can't recommend Sandhya Academy enough for anyone looking to excel in the IT field.
          </p>
        </div>
    </div>
    <div class="testimony">
      <div class="testimonial-image">
        <img [src]="'./assets/users/user2.jpg'">
      </div>
      <div>
        <h3>Surya K</h3>
        <p>
          I enrolled in Sandhya Academy's online live classes for Angular and Node.js, and I was blown away by the depth of the content and the interactive nature of the sessions. The instructors were patient and supportive, fostering a collaborative learning environment. Thanks to their interview preparation service, I landed my dream job in web development. Thank you, Sandhya Academy!
        </p>
      </div>
  </div>
  <div class="testimony">
    <div class="testimonial-image">
      <img [src]="'./assets/users/user3.jpg'">
    </div>
    <div>
      <h3>Karthik T</h3>
      <p>
        Sandhya Academy exceeded my expectations with their comprehensive machine learning course. The online classes were engaging, and the material was presented in a clear and concise manner. The one-to-one consultation sessions were instrumental in clarifying doubts and receiving personalized guidance. I'm grateful for the invaluable skills I've gained through Sandhya Academy.
      </p>
    </div>
</div>
<div class="testimony">
  <div class="testimonial-image">
    <img [src]="'./assets/users/user4.jpg'">
  </div>
  <div>
    <h3>Latha v</h3>
    <p>
      As a working professional, I needed flexible learning options, and Sandhya Academy delivered just that. Their online courses allowed me to balance my job and studies effectively. The instructors were not only experts in their field but also supportive mentors who guided me through every step of my learning journey. Sandhya Academy has truly equipped me with the skills I need to thrive in the ever-evolving IT industry.
    </p>
  </div>
</div>
    </div>
</div>
<!-- *ngFor="let name of testimonials; let i = index"-->